@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100%;
    height: 60vh;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22%;
}

.header .baslik a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    margin-left: 180px;
}

.header ul {
    list-style-type: none;
    display: flex;
    column-gap: 30px;
    margin-left: 35px;
    font-size: 18px;
}

.header ul li a {
    color: white;
    text-decoration: none;
    transition:  .25s ease-in-out
}

.header ul li a:hover {
    color: rgb(204, 24, 24);
}

.header  .iletisim  {
    border: 2px solid rgb(204, 24, 24);
    margin-right: 255px;
    width: 200px;
    text-align: center;
    height: 60px;
    transition: .25s ease-in-out;
}

.header .iletisim a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header .iletisim:hover {
    background-color: rgb(204, 24, 24);
}   

.header .iletisim h1 {
    color: crimson;
    margin-top: 90px;
    margin-left: -890px;
    font-size: 40px;
}

.header .iletisim .p1 {
    color: gray;
    margin-left: -1100px;
    margin-top: 30px;
}

.header .iletisim .p2 {
    color: gray;
    margin-left: -900px;
    margin-top: -18px;
}


.header .iletisim .p3 {
    color: crimson;
    margin-top: -18px;
    margin-left: -700px;
}


.content {
    width: 100%;
    height: 170vh;
    background-color: #141313;
    margin-top: 337px;

}

.content h1 {
    color: white;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 13%;
}

.content .button {
    border: 2px solid #DD1E4B;
    background-color: #DD1E4B;  
    width: 150px;
    height: 65px;
    border-radius: 5px;
    text-align: center;   
    margin-left: 1110px;
    margin-top: -50px;    
    transition: .25s;

}


.content .button a {
    text-decoration: none;
    color: #F5F5F5;
    transition: .25s;
}

.content .box1 {
    background-color: rgb(42, 40, 40);
    border: 2px solid rgb(42, 40, 40);
    width: 500px;
    height: 250px;
    margin-top: 80px;
    margin-left: 13%;
}


.content .box1 h1 {
    font-size: 25px;
    margin-left: 180px;
    margin-top: 50px;
}

.content .box1 p {
    text-align: center;
    margin-top: 20px;
    color: gray;
}

.content .box2 {
    background-color: rgb(42, 40, 40);
    border: 2px solid rgb(42, 40, 40);
    width: 500px;
    height: 250px;
    margin-top: -250px;
    margin-left: 763px;
}

.content .box2 h1 {
    font-size: 25px;
    margin-left: 205px;
    margin-top: 50px;
}

.content .box2 p {
    text-align: center;
    margin-top: 20px;
    color: gray;

}


.content .box3 {
    background-color: rgb(42, 40, 40);
    border: 2px solid rgb(42, 40, 40);
    width: 500px;
    height: 250px;
    margin-top: 80px;
    margin-left: 13%;
}

.content .box3 h1 {
    font-size: 25px;
    margin-left: 223px;
    margin-top: 50px;
}

.content .box3 p {
    text-align: center;
    margin-top: 20px;
    color: gray;
}

.content .box4 {
    background-color: rgb(42, 40, 40);
    border: 2px solid rgb(42, 40, 40);
    width: 500px;
    height: 250px;
    margin-top: -250px;
    margin-left: 763px;

}

.content .box4 h1 {
    font-size: 25px;
    margin-left: 196px;
    margin-top: 50px;
}

.content .box4 p {
    text-align: center;
    margin-top: 20px;
    color: gray;
}

.content .box5 {
    background-color: rgb(42, 40, 40);
    border: 2px solid rgb(42, 40, 40);
    width: 500px;
    height: 250px;
    margin-top: 70px;
    margin-left: 500px;
}

.content .box5 h1 {
    font-size: 25px;
    margin-left: 145px;
    margin-top: 50px;
}

.content .box5 p {
    text-align: center;
    margin-top: 20px;
    color: gray;

}

.footer {
    width: 100%;
    height: 80vh;
    margin: auto;   
    background-color: white;
}

.footer h1 {
    color: crimson;
    margin-left: 675px;
    margin-top: 30px;
    font-size: 2.5rem;
}

.footer p {
    color: gray;
    text-align: center;
    margin-top: 70px;
}

.footer .insta a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
    margin-top: 80px;
    margin-left: 600px;
    transition: .25s;
}

.footer .insta a:hover {
    color: crimson;
}

.footer .twitter  {
    margin-left: 700px;
    margin-top: -28px;
}

.footer .twitter a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
    transition: .25s;
}

.footer .twitter a:hover {
    color: crimson;
}


.footer .linkedin {
    margin-left: 800px;
    margin-top: -25px;
}

.footer .linkedin a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
    transition: .25s;
}

.footer .linkedin a:hover {
    color: crimson;
}

.footer .google {
    margin-left: 900px;
    margin-top: -25px;
}

.footer .google a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
    transition: .25s;

}

footer .google a:hover {
    color: crimson;
}

.footer .box6  {
    width: 100%;
    height: 60vh;
    margin-right: 700px;  
    margin-top: 100px;  
    background-color: #1d1919;
}

.footer .box6 h1 {
    text-align: left;
    font-size: 24px;
    margin-left: 120px;
    margin-top: 20px;
}


.footer .box6 p {
    text-align: left;  
    margin-left: 120px;
    margin-top: 18px;
}

.footer .box7 h1 {
    text-align: left;
    margin-left:650px;
    font-size: 24px;
    margin-top: -340px;
}

.footer .box7 ul {
    margin-left: 650px;
    margin-top: 15px;
    list-style: none;
}

.footer .box7 ul li a {
    text-decoration: none;
    color: gray;
    transition: .25s ease-in-out;
}

.footer .box7 ul li a:hover {
    color: crimson;

}


.footer .box8 h1 {
    text-align: left;
    margin-left:1150px;
    font-size: 24px;
    margin-top: -210px;
}

.footer .box8 .p1 {
    text-align: left;
    margin-left: 1150px;
    margin-top: 20px;
    transition: .25s;
}

.footer .box8 .p1:hover {
    color: crimson;
}

.footer .box8 .p2 {
    text-align: left;
    margin-left: 1150px;
    margin-top: 24px;
    transition: .25s;
}

.footer .box8 .p2:hover {
    color: crimson;
}

.footer .box8 .p3 {
    text-align: left;
    margin-left: 1150px;
    margin-top: 28px;
    transition: .25s ;
}

.footer .box8 .p3:hover {
    color: crimson;
}


.footer .box8 .insta {
    margin-left: 550px;
    margin-top: -50px;
    transition: .25s;
}

.footer .box8 .insta a:hover {
    color: crimson;
}


.footer .box8 .twitter {
    margin-left: 1210px;
    margin-top: -27px;
    transition: .25s;
}

.footer .box8 .twitter a:hover {
    color: crimson;
} 

.footer .box8 .linkedin {
    margin-left: 1280px;
    margin-top: -27px;
    transition: .25s;
}

.footer .box8 .linkedin a:hover {
    color: crimson;
}

.footer .box8 .google {
    margin-left: 1340px;
    margin-top: -27px;
    transition: .25s;
} 

.footer .box8 .google a:hover {
    color: crimson;
}

.footer .box9 {
    width: 100%;
    height: 15vh;
    margin-top: 80px;
    background-color: #111111;
    display: inline-block;
}


.footer .box9 p {
    margin-top: 30px;

}